{% extends "layout.html" %}

{% block content %}
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <br/>
       <center>
            <!--img src="https://scontent.fagu1-1.fna.fbcdn.net/v/t31.0-8/s960x960/472165_392762914134980_1181381953_o.jpg?_nc_cat=109&_nc_oc=AQlHlDJMq50yjju3XF-Tk5wU7Noc_MXNZZ0RUKqw5mw2uz01scP4inhDfqtEmMSdaO8&_nc_ht=scontent.fagu1-1.fna&oh=feed24845cfb32949443935ce46542b3&oe=5E74D69D" class="mr-3" alt="..." width="480" height="310" -->
            <img src="{{url_for('static', filename='gym.jpg')}}" class="mr-3" alt="..." width="480" height="310" >
        </center>
{% endblock %}